<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chithalabs.sai.dietprogramtracker">

    <application
        android:name=".di.DPTApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_buttery_sqaure"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_buttery_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".home.HomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".add_log.AddLogActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".home.HomeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".log_details.LogDetailsActivity" />
        <activity android:name=".weight_details.WeightDetailsActivity"></activity>
    </application>

</manifest>
